
<div class="row" id="divMktGoogle">
    <!--=====================
            Content
  ======================-->
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h3>Serviços em destaques</h3>
        </div>
        <div class="grid_2">
          <img
            src="assets/images/img_redessociais.png"
            alt=""
            class="img_inner fleft"
          />
         <h6 class="text2 color1">ATRAIA MAIS CLIENTES</h6>
          Seja encontrado por clientes no exato em que eles
           pesquisarem no Google pelo que você oferece
        </div>
        <div class="grid_2">
          <img
            src="assets/images/foco.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">FOCO EM RESULTADO</h6>
          Marketing digital, com foco em gerar os resultados
          esperados (faturamento, visitas, etc)
        </div>
        <div class="grid_2">
          <img
            src="assets/images/global.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">ANUNCIE LOCAL OU GLOBALMENTE</h6>
          Exiba seus anuncios em determinados países, cidades,
          bairros ou a apenas alguns km de sua empresa
        </div>
        <div class="grid_2">
          <img
            src="assets/images/parceira.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">EMPRESA PARCEIRA DO GOOGLE</h6>
          Anuncie com uma emrpesa certificada pelo Google
          para lhe trazer mais resultados
        </div>
        <div class="grid_2">
          <img
            src="assets/images/pagtoresultado.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">PAGAMENTO POR RESULTADO</h6>
          Pague somente quando pessoas clicarem para visitar
          seu site ou ligarem para sua empresa
        </div>
        <div class="grid_2">
          <img
            src="assets/images/palavrailimitada.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">PALAVRAS-CHAVE ILIMITADAS</h6>
          Não tem limite de palavras. Iremos colocar quantidade
          ideal para gerar o melhor resultado
        </div>
      </div>
      <div class="row">
        <div class="grid_2">
            <img
              src="assets/images/lucros.png"
              alt=""
              class="img_inner fleft"
            />
            <h6 class="text2 color1">MAIS CLIENTES, MAIS LUCRO</h6>
            Quanto mais investir, maior o potencial de atrair
            novos clientes
          </div>
      <div class="grid_2">
        <img
          src="assets/images/siteresponsivo.jpg"
          alt=""
          class="img_inner fleft"
        />
        <h6 class="text2 color1">ANUNCIE QUANDO QUISER</h6>
        Não existe fidelidade, você pode cancelar voltar
        anunciar quando achar melhor
      </div>
      <div class="grid_2">
        <img
          src="assets/images/chatonline.jpg"
          alt=""
          class="img_inner fleft"
        />
        <h6 class="text2 color1">CONTATO COM O ESPECIALISTA</h6>
       Suporte ilimitado por telefone e e-mail com nossa 
       equipe especialista em Google Ads.
      </div>
  </div>
    </div>
  </div>
  