
<div class="row" id="divSiteInstitucionais">
    <!--=====================
            Content
  ======================-->
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h3>Serviços em destaques</h3>
        </div>
        <div class="grid_2">
          <img
            src="assets/images/img_redessociais.png"
            alt=""
            class="img_inner fleft"
          />
         <h6 class="text2 color1">REDES SOCIAIS</h6>
          O conteúdo de seu site compartilhado nas redes sociais
        </div>
        <div class="grid_2">
          <img
            src="assets/images/img_siteresponsivo.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">SITE RESPONSIVO</h6>
          Adaptável para computador, tablet e celular
        </div>
        <div class="grid_2">
          <img
            src="assets/images/img_atualizacao.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">ATUALIZAÇÃO SIMPLES</h6>
          Atualize você mesmo seu site com nosso sistema simples de usar
        </div>
        <div class="grid_2">
          <img
            src="assets/images/img_pagamentos.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">RECEBA PAGAMENTOS</h6>
          Receba pagamentos via cartão e boleto com os botões (Pagseguro, Paypal e
          Mercado Pago)
        </div>
        <div class="grid_2">
          <img
            src="assets/images/img_emailprofissional.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">EMAIL PROFISSIONAL</h6>
          Comunique-se com seus clientes através de um email profissional
        </div>
        <div class="grid_2">
          <img
            src="assets/images/img_suporte.png"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">SUPORTE ILIMITADO</h6>
          Converse com profissionais que irão lhe ajudar a alcançar o seu sucesso
          online.
        </div>
      </div>
    </div>
  </div>
  
