
<div class="row" id="divLojasVirtuais">
    <!--=====================
            Content
  ======================-->
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h3>Serviços em destaques</h3>
        </div>
        <div class="grid_2">
          <img
            src="assets/images/atualizacaosimples.png"
            alt=""
            class="img_inner fleft"
          />
         <h6 class="text2 color1">INTEGRAÇÃO PARA PAGAMENTOS</h6>
          Aceite os principais meios de pagamento e parcelamento (Pagseguro, 
          Paypal, MercadoPago)
        </div>
        <div class="grid_2">
          <img
            src="assets/images/calculofrete.jpg"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">CÁLCULO DE FRETE</h6>
          Integrado aos correios e à transportadora Jadlog, o site 
          calcula automaticamente o valor do frete
        </div>
        <div class="grid_2">
          <img
            src="assets/images/controleestoque.jpg"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">CONTROLE DE ESTOQUE</h6>
          Controle seu estoque e garanta que o que está sendo ofertado será 
          entregue
        </div>
  
     
        <div class="grid_2">
          <img
            src="assets/images/cupomdesconto.jpg"
            alt=""
            class="img_inner fleft"
          />
          <h6 class="text2 color1">CUPOM DE DESCONTO</h6>
          Faça promoções com descontos com produtos de seu site
        </div>
   
        <div class="grid_2">
            <img
              src="assets/images/redessociais.jpg"
              alt=""
              class="img_inner fleft"
            />
            <h6 class="text2 color1">REDES SOCIAIS</h6>
            O conteúdo de seu site compartilhado nas redes sociais
          </div>
          <div class="grid_2">
            <img
              src="assets/images/siteresponsivo.jpg"
              alt=""
              class="img_inner fleft"
            />
            <h6 class="text2 color1">SITE RESPONSIVO</h6>
           Adaptável para computador, tablet e celular
          </div>
  </div>
</div>
  
