  <div class="row" id="divHome">
    <!--=====================
              Content
    ======================-->
      <div class="container">
        <div class="row">
          <div class="grid_10 preffix_1 ta__center">
            <div class="greet">
              <h2 class="head__1">
                Bem vindo
              </h2>
              <p>Desenvolver um site é uma arte, desde o seu início você terá participação em todas as fases do processo, garantido o resultado final conforme alinhamento inicial.
                Iremos trabalhar o design e estética do seu novo site. Você receberá o layout para sua apreciação e poderá neste momento fazer alterações, trocas de cores, tipografia, imagens, entre outros itens. Além disso, nessa etapa também podem ser retiradas ou inseridas informações.
                Desenvolvimento: Após a aprovação do layout pelo cliente e o envio do conteúdo para o site, iniciamos toda a programação baseado na semântica e otimização necessária.
                Publicação: Depois de tudo pronto, é preciso uma aprovação final antes de publicar o site do cliente. Aqui sua ideia acaba de sair da mente e se concretizar.</p>
            </div>
          </div>
        </div>
      </div>
      <article class="content_gray">
        <div class="container">
          <div class="row">
            <div class="grid_7">
              <h3>Nossos Produtos</h3>
              <div class="block-2">
                <img src="assets/images/img_lojavirtual.png" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="text1"><a href="#">Loja virtual</a></div>
                  <p>Criar uma loja virtual é muito mais fácil do que você imagina. Nossa loja é rica em recursos que são fáceis de utilizar e possui uma interface atraente e amigável. Uma solução perfeita para você gerar negócios na internet 24 horas por dia.
                  <br>
                  <a href="/servicos?tipo=lojasvirtuais" class="link-1">mais</a>
                </div>
              </div>
              <div class="block-2">
                <img src="assets/images/img_siteinstitucionais.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="text1"><a href="#">Site Institucionais</a></div>
                  <p>Criamos para você um site completo e profissional para alavancar o seu negócio através da internet!
                  <br>
                  <a href="/servicos?tipo=institucionais" class="link-1">mais</a>
                </div>
              </div>
              <div class="block-2">
                <img src="assets/images/img_marketingsociais.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="text1"><a href="#">Marketing Sociais</a></div>
                  <p>Construa relacionamentos sólidos com seus clientes através de suas redes sociais!
                  <br>
                  <a href="/servicos?tipo=mktredesociais" class="link-1">mais</a>
                </div>
              </div>
              <div class="block-2">
                <img src="assets/images/img_marketinggoogle.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                  <div class="text1"><a href="#">Marketing Google ADS</a></div>
                  <p>Criamos e Gerenciamos campanhas no Google Ads com foco em conversão para atrair mais possíveis clientes!
                  <br>
                  <a href="/servicos?tipo=mktgoogle" class="link-1">mais</a>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="grid_4 preffix_1">
              <div class="block-2">
                <img src="assets/images/desingmoderno.png" alt="" class="img_inner fleft">
              </div>
            </div>
            <div class="grid_4 preffix_1">
              <div class="block-2">
                <img src="assets/images/paineladm.png" alt="" class="img_inner fleft">
              </div>
            </div>
            <div class="grid_4 preffix_1">
              <div class="block-2">
                <img src="assets/images/velocidadecarreg.png" alt="" class="img_inner fleft">
              </div>
            </div>
          </div>
        </div>
      </article>
      <div class="container">
        <div class="row">
          <div class="grid_5">
            <h4>Sobre</h4>
            Somos uma Empresa com foco em Criação de sites,
             Links Patrocinados (Google Ads), Gestão de Redes Sociais,
             E-mail Marketing.
             Conheça nossos serviços e entre em contato caso tenha qualquer dúvida.
          </div>
          <div class="grid_4">
            <h4>Soluções</h4>
            <ul class="list-1">
              <li>Gestão centralizada</li>
              <li>Rapidez e eficiência</li>
              <li>Facilidade e simplicidade</li>
              <li>Segurança e flexibilidade</li>
              <li>Acompanhamento em tempo real</li>
              <li>Muito mais barato e produtivo</li>
            </ul>
          </div>
          <div class="grid_3">
            <h4>Contato</h4>
            <address>
              <ul class="cont_address">
                <li>rafael.wjesus@gmail.com</li>
              </ul>
            </address>
          </div>
        </div>
      </div>
  </div>
